<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </Console>
        <File name="FileLogger" fileName="logs/app.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
        <File name="CouchbaseLogger" fileName="logs/couchbase.log">
            <PatternLayout pattern="%d{yyyy-MM-dd HH:mm:ss} %-5p %c{1}:%L - %m%n"/>
        </File>
    </Appenders>
    <Loggers>

        <Root level="info">
            <AppenderRef ref="FileLogger"/>
        </Root>

        <Logger name="com.BeerFast" level="info" additivity="false">
            <AppenderRef ref="FileLogger"/>
        </Logger>

        <Logger name="com.couchbase" level="info">
            <AppenderRef ref="CouchbaseLogger" />
        </Logger>

        <Logger name="com.BeerFast" level="warn" additivity="false">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="FileLogger"/>
        </Logger>
    </Loggers>
</Configuration>
